<!-- My Services Section Start -->
<section class="services" id="services">
    <div class="content">
        <div class="title"><span>What can I do?</span></div>
        <div class="boxes">
            <div class="box">
                <div class="icon">
                    <i class="fas fa-desktop"></i>
                </div>
                <div class="topic">Architecture & Development</div>
                <p></p>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="topic">Consulting & Due Diligence</div>
                <p></p>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="topic">Team Management</div>
                <p></p>
            </div>
        </div>
    </div>
</section>
