<!-- About Section Start -->
<section class="about" id="about">
    <div class="content">
        <div class="title"><span>About Me</span></div>
        <div class="about-details">
            <div class="left">
                <img src="{{ site.picture }}" alt="{{ site.name }}">
            </div>
            <div class="right">
                <!--
                                <div class="topic">About Me</div>
                -->
                <p>I'm a proactive, experienced leader with a track record of delivering quality solutions in fintech,
                    cloud services, threat detection, and data breach protection.
                </p>
                <br/>
                <p>
                    <img src="/assets/images/spin_logo.png"
                         style="float: left; width:140px; margin-left:35px; margin-right: 35px" alt="Spin Technology"/>
                    Currently I'm VP of Engineering in <b>Spin Technology Inc</b> (<a href="https://spin.ai">spin.ai</a>) and I manage the IT team and product team.
                    Spin Technology is a cloud data protection company protecting enterprises against ransomware, human
                    error and other
                    external threats. Our solutions extend security on Google Workspace, Microsoft 365, Salesforce and Slack environments and
                    protect organizations against Data Leak & Data Loss in the cloud by backing up
                    sensitive data to a secure cloud storage. Our AI provides 24/7
                    monitoring and detection against harmful threats and identifies business risks while
                    our automated runbooks deploy powerful countermeasures to ensure continuous operation.
                    Spin Technology was founded in 2016, and currently has over 80 employees with R&D centers in Eastern
                    Europe.
                </p>
                <br/>
                <p>
                    Today <b>Spin Technology</b> is <a href="https://youtu.be/omjqnFmMmyo?t=616">Google Cloud Partner</a> for Cloud Data Protection and has the highest rating on the <a href="https://gsuite.google.com/marketplace/app/spinbackup_security_backup/829029953048">Google Workspace Marketplace</a>
                </p>
<!--
                <div class="button">
                    <button>Show full CV</button>
                </div>
-->
            </div>
        </div>
    </div>
</section>
