<!-- My Skill Section Start -->
<!-- Section Tag and Other Div will same where we need to put same CSS -->
<section class="skills" id="skills">
    <div class="content">
        <div class="title"><span>My Skills</span></div>
        <div class="skills-details">
            <div class="text">
                <div class="topic">Skills Reflects Our Knowledge</div>
                <ul>
                    <li><b>AI</b>: TensorFlow, MATLAB, Statistics, Apache SystemML</li>
                    <li><b>Frameworks</b>: Spring, Netflix OSS, React, React Native, Angular, Kafka,
                        Spark, RabbitMQ, ZeroMQ, Hadoop, WebSphere MQ
                    </li>
                    <li><b>DB</b>: PostgreSQL, MySQL, IBM DB2, Oracle, MS SQL Server, Sybase IQ, MongoDB</li>
                    <li><b>Languages</b>: Java, Groovy, Javascript, Typescript, Python</li>
                    <li><b>Cloud Infrastructure</b>: AWS, GCP, Azure</li>
                </ul>
                <div class="experience">
                    <div class="num">16</div>
                    <div class="exp">Years of <br> Experience</div>
                </div>
            </div>
            <div class="boxes">
                <div class="box">
                    <div class="topic">Startups</div>
                    <div class="per">2+ products</div>
                </div>
                <div class="box">
                    <div class="topic">Team Management</div>
                    <div class="per">7+ teams</div>
                </div>
                <div class="box">
                    <div class="topic">Architecture</div>
                    <div class="per">15+ solutions</div>
                </div>
                <div class="box">
                    <div class="topic">Analytics</div>
                    <div class="per">4+ projects</div>
                </div>
                <div class="box">
                    <div class="topic">Cloud Security</div>
                    <div class="per">3+ projects</div>
                </div>
                <div class="box">
                    <div class="topic">Banking/FinTech</div>
                    <div class="per">10+ projects</div>
                </div>
                <div class="box">
                    <div class="topic">Mobile development</div>
                    <div class="per">2+ projects</div>
                </div>
                <div class="box">
                    <div class="topic">Marketing/Sales</div>
                    <div class="per">1+ startup</div>
                </div>
            </div>
        </div>
    </div>
</section>
