<nav>
    <div class="navbar">
        <div class="logo"><a href="#">Personal site</a></div>
        <ul class="menu">
            {% if page.title != "Home" %}
            <li><a href="{{ site.url }}/">Home</a></li>
            {% endif %}
            {% if site.blog == true %}
            {% if page.title != "Blog" %}
            <li>
                <a href="{{ site.url }}/blog">Blog</a>
            </li>
            {% endif %}
            {% endif %}
            <li><a href="{{ site.url }}/#about">About</a></li>
            <li><a href="{{ site.url }}/#skills">Skills</a></li>
            {% comment %}<li><a href="{{ site.url }}/#services">Services</a></li>{% endcomment %}
            {% comment %}<li><a href="{{ site.url }}/#contact">Contact</a></li>{% endcomment %}
            <div class="cancel-btn">
                <i class="fas fa-times"></i>
            </div>
        </ul>
        <div class="media-icons">
            {% if site.facebook %}
            <a data-title="facebook.com/{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}"
               target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-f"></i>
            </a>
            {% endif %}

            {% if site.twitter %}
            <a class="link" data-title="twitter.com/{{ site.twitter }}" href="https://twitter.com/{{ site.twitter }}"
               target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter"></i>
            </a>
            {% endif %}

            {% if site.linkedin %}
            <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}"
               href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i>
            </a>
            {% endif %}

            {% if site.youtube %}
            <a class="link" data-title="youtube.com/{{ site.youtube }}" href="https://youtube.com/{{ site.youtube }}"
               target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube"></i>
            </a>
            {% endif %}

            {% if site.github %}
            <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}"
               target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
            {% endif %}

            {% if site.stackoverflow %}
            <a class="link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}"
               href="https://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-stack-overflow"></i>
            </a>
            {% endif %}

            {% if site.medium %}
            <a class="link" data-title="medium.com/@{{ site.medium }}" href="https://medium.com/@{{ site.medium }}"
               target="_blank" rel="noopener noreferrer">
                <i class="fab fa-medium"></i>
            </a>
            {% endif %}

            {% if site.habrahabr %}
            <a class="link" data-title="https://habrahabr.ru/users/{{ site.habrahabr }}"
               href="https://habrahabr.ru/users/{{ site.habrahabr }}/posts" target="_blank" rel="noopener noreferrer">
                <i class="far fa-microphone"></i>
            </a>
            {% endif %}

            {% if site.crunchbase %}
            <a class="link" data-title="www.crunchbase.com/person/{{ site.crunchbase }}"
               href="https://www.crunchbase.com/person/{{ site.crunchbase }}" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-money-bill-trend-up"></i>
            </a>
            {% endif %}

            {% if site.slideshare %}
            <a class="link" data-title="https://www.slideshare.net/{{ site.slideshare }}"
               href="https://www.slideshare.net/{{ site.slideshare }}" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-slideshare"></i>
            </a>
            {% endif %}

            {% if site.email %}
            <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
                <i class="far fa-envelope"></i>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
</nav>
