<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "dateCreated": "2024-09-01T12:34:00-05:00",
        "dateModified": "2024-09-10T14:53:00-05:00",
        "mainEntity": {
            "@type": "Person",
            "name": "Sergiy Balynsky",
            "alternateName": "balynsky",
            "givenName": "Sergiy",
            "familyName": "Balynsky",
            "email": "leeifmail@gmail.com",
            "birthDate" : "1986-04-18",
            "jobTitle": "VP of Engineering",
            "nationality" : "Ukraine",
            "worksFor" : "Spin.AI",
            "description": "I'm a proactive, experienced leader with a track record of delivery quality solutions in fintech, cloud services, threats security, and data breach protection.",
            "image": "https://avatars2.githubusercontent.com/u/11942037",
            "sameAs": [
                "https://facebook.com/sergiy.balynsky",
                "https://twitter.com/balynsky",
                "https://linkedin.com/in/balynsky",
                "https://youtube.com/balynsky",
                "https://github.com/balynsky",
                "https://stackoverflow.com/users/35450849/sergiy-balynsky",
                "https://medium.com/@balynsky",
                "https://habrahabr.ru/users/balynsky/posts",
                "https://www.slideshare.net/SergeyBalynsky",
                "https://www.crunchbase.com/person/sergiy-balynsky"
            ]
        }
    }
</script>
<script type="application/ld+json">
    {
        "@context" : "https://schema.org",
        "@type" : "WebSite",
        "name" : "Personal website: Sergiy Balynsky",
        "url" : "https://www.balynsky.com/"
    }
</script>

