---
layout: default
sitemap: false
---
{% include header.html %}

<section class="blog" id="blog">
    <div class="content">
        <div class="title"><span>Blog</span></div>
        <div class="blog-details">
            <div class="left">
                <div>
                    <img src="{{ site.picture }}" alt="{{ site.name }}">
                    <h4 class="name">{{ site.name }}</h4>
                    <p class="bio">{{ site.bio }}</p>
                </div>
            </div>
            <div class="right">
                {{ content }}
            </div>
        </div>
    </div>
</section>

{% include about-contactme.html %}

{% include footer.html %}
